# EditorConfig - CosmicLib Engine
# https://editorconfig.org

root = true

# Default settings for all files
[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true

# Markdown files
[*.md]
trim_trailing_whitespace = false
max_line_length = off

# YAML files
[*.{yml,yaml}]
indent_size = 2

# JSON files
[*.json]
indent_size = 2

# JavaScript / TypeScript
[*.{js,ts,jsx,tsx,vue}]
indent_size = 2

# CSS / SCSS
[*.{css,scss,sass,less}]
indent_size = 2

# Blade templates
[*.blade.php]
indent_size = 4

# PHP files
[*.php]
indent_size = 4

# Shell scripts
[*.sh]
end_of_line = lf
indent_size = 2

# Batch files (Windows)
[*.{bat,cmd}]
end_of_line = crlf

# Makefile
[Makefile]
indent_style = tab

# .env files
[.env*]
insert_final_newline = true
